<header>
  <nav>
    <a href="/en/index.html" class="logo">
      <img src="../../../img/logo-removebg.png" alt="Citadin Consulting" />
    </a>
    <ul>
      <li><a href="/en/index.html">Home</a></li>
      <li class="dropdown">
        <a href="#">Services</a>
        <div class="dropdown-menu">
          <a href="/en/pages/services/accounting.html">Professional Accounting Services</a>
          <a href="/en/pages/services/consulting.html">Business Consulting Services</a>
          <a href="/en/pages/services/management.html">Management of personnel & Reges online</a>
          <a href="/en/pages/services/payroll.html">Payroll Services</a>
          <a href="/en/pages/services/human-resources.html">Professional Human Resources Services</a>
        </div>
      </li>
      <li><a href="/en/pages/team/team.html">Team</a></li>
      <li><a href="/en/pages/blog/blog.html">Blog</a></li>
      <li><a href="/en/pages/contact/contact.html">Contact</a></li>

      <li><a href="#" id="lang-toggle">Language</a></li> 
    </ul>
  </nav>
</header>