<footer>
  <div class="footer-info">
    <h3>Citadin Consulting SRL</h3>
    <p>Servicii complete de contabilitate, fiscalitate și consultanță financiară pentru firme din România.</p>
  </div>

  <div class="footer-links">
    <ul>
      <li><a href="/pages/echipa/echipa.html">Despre noi</a></li>
      <!-- <li><a href="/pages/servicii/servicii.html">Servicii</a></li> -->
      <li><a href="/pages/contact/contact.html">Contact</a></li>
      <li><a href="/pages/termeni/politica-confidentialitate.html">Politica de confidențialitate</a></li>
      <li><a href="/pages/blog/blog.html">Blog</a></li>
    </ul>
  </div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
<div class="footer-contact">
  <p><i class="ti ti-map-pin"></i> București, Sector 4, Strada Unirii, Nr. 1, Bloc B0, Etaj 10, Birou</p>
  <p><i class="ti ti-mail"></i> Email: <a href="mailto:contact_suport@citadinconsulting.ro">contact_suport@citadinconsulting.ro</a></p>
  <p><i class="ti ti-phone"></i> Telefon: <a href="tel:+40722123456">+40 722 123 456</a></p>
  <p><i class="ti ti-clock"></i> Program: Luni – Vineri, 09:00 – 18:00</p>
  <p><i class="ti ti-world"></i> Website: <a href="http://www.citadinconsulting.ro" target="_blank">www.citadinconsulting.ro</a></p>
</div>

  <div class="footer-copyright">
    <p>&copy; 2004-<span id="current-year"></span> Citadin Consulting. Toate drepturile rezervate.</p>
  </div>
</footer>


<button id="backToTopBtn" title="Back to top">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3" width="24" height="24">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 19V5m0 0l-7 7m7-7 7 7" />
  </svg>
</button>