<header>
  <nav>
    <a href="/index.html" class="logo">
      <img src="../../img/logo-removebg.png" alt="Citadin Consulting" />
    </a>
    <ul>
      <li><a href="/index.html">Acasă</a></li>
      <li class="dropdown">
        <a href="#">Servicii</a>
        <div class="dropdown-menu">
          <a href="/pages/servicii/contabilitate.html">Servicii profesionale de contabilitate</a>
          <a href="/pages/servicii/consultanta.html">Consultanță de afaceri</a>
          <a href="/pages/servicii/administrare.html">Administrare de personal & Reges online</a>
          <a href="/pages/servicii/salarizare.html">Servicii de salarizare</a>
          <a href="/pages/servicii/resurse-umane.html">Consultanță de Resurse Umane</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Despre noi</a>
        <div class="dropdown-menu">
          <a href="/pages/echipa/echipa.html">Echipa</a>
          <a href="/pages/echipa/cavalerstefan.html">Cavaler Stefan Alexandru - Partner</a>
          <a href="/pages/echipa/mariusanghel.html">Marius Anghel - Partner</a>
        </div>
      </li>
      <li><a href="/pages/blog/blog.html">Blog</a></li>
      <!-- <li><a href="contact.html">Contact</a></li> -->
      
      <li><a href="#" id="lang-toggle">Language</a></li> <!-- // Schimbarea limbii se face din script -->

    </ul>
  </nav>
</header>

